h1,h2,h3{
	background-color: gray;
	color: white;
	text-align: center;
}

body{
	padding: 5px;
	font-family: "arial";
}

label{
	margin-top: 5px;
	margin-bottom: 5px;
}

.date{
	background-color: white;
	border: 1px solid black;
	color: black;
	font-size: 1.5em;
}

.pricing-table{
	width: 300px;
	float: left;
}