<h1>Admin Login</h1>
<form ng-submit="login()">
  <div class="row">
    <div class="large-12 columns">
      <label>Email Address</label>
      <input type="text" class="error" placeholder="email@domain.com" ng-model="admin.email"/>
      <small class="error" ng-show="adminEmailError">{{adminEmailError}}</small>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Password</label>
      <input type="password" class="error" placeholder="Password" ng-model="admin.pass"/>
      <small class="error" ng-show="adminPassError">{{adminPassError}}</small>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
    	<a class="button" href="" ng-click="login()">Login</a>
    </div>
  </div>
</form>