<div class="row">
	<h1>Progress Date</h1>
	<p>A datebook application that changes from a standard calender to a progress bar for the year. The thought is why not create a calender that relfects the modern times.</p>
</div>

<div class="row">
	<h2>Benifits:</h2>
	<ul>
		<li class="large-6 columns">This application works just like your normal calender and displayes as both a calender and a progress bar.</li>

		<li class="large-6 columns">Simple to add dates of importance that will be displayed on the calender.</li>
	</ul>
</div>