<div ng-controller="Calender">
	<h1>Welcome {{userHolder.name}}</h1>
	<h2 class="date">Todays date is {{todayDate}}</h2>
	<div class="progress">
	  <span class="meter" style="{{percent}}"></span>
	</div>
	<div>
		<a href="#/addDate" class="button">Add Date</a></p>
	</div>

	<div ng-controller="CrudController">
		<div ng-repeat="date in dates | orderBy:'dateOfItem' | filter:userHolder.id">
				<ul class="pricing-table">
				<li class="title">{{date.dateOfItem}}</li>
				<li class="description">{{date.description}}</li>
				<li class="bullet-item">{{date.noteOne}}</li>
				<li class="bullet-item">{{date.noteTwo}}</li>
				<li class="bullet-item">{{date.noteThree}}</li>
				<li class="bullet-item">
					<a href="" class="button" ng-click="updateReroute(date)">Update</a>
					<br/>
				  	<a href="" class="error" ng-click="removeDate()">Delete</a>
				</li>
			</ul>
		</div>
	</div>
</div>