<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="progressdate">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0" />
        <title>Progress Date</title>
        <link rel="stylesheet" href="css/foundation.css" />
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        
    </head>
    <body ng-controller="Login">

        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#/landing">ProgressDate</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="active fa fa-facebook-square"><a href="" ng-click="login()" ng-hide="user">Login with Facebook</a></li>
              <li class="active fa fa-facebook-square"><a href="" ng-click="logout()" ng-show="user">Logout</a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><a href="#/admin" ng-hide="adminUser || user">Admin Login</a></li>
              <li><a href="" ng-click="logout()" ng-hide="displayLogout">Logout</a></li>
            </ul>
          </section>
        </nav>
    
        <!--Container for the view templates-->
        <div id="container" ng-view="">
        </div>

        <!-- Firebase Conenctions -->
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>

        <!--simple login-->
        <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.2.0/firebase-simple-login.js'></script>

        <!--angular-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

        <!--angularFire-->
        <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.js"></script>

        <!--Main JS-->
        <script src="js/main.js"></script>

        <!--Foundation required-->
        <script src="js/modernizr.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

        <!--Main JS-->
        <script src="js/main.js"></script>

        <!--Login Controller-->
        <script src="js/controllers/Login.js"></script>

        <!-- AdminLogin Controller-->
        <script src="js/controllers/AdminLogin.js"></script>

        <!-- Calender Controller-->
        <script src="js/controllers/Calender.js"></script>
    </body>
</html>